/*

Amarillo: #FFD700 (Oro brillante, inspirado en el amarillo del logo).
Negro: #000000 (Negro puro, para el fondo o texto).
Morado: #800080 (Morado estándar, inspirado en el fondo).

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202020; /* o el que prefieras */
  background-image: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}